
/* .init{
    margin: 100px 0px 0px 40px;
    color:white;
} */
.T1st{
    margin: 100px 0px 0px 40px;
    color:white;
}
.eduTable,.informal{
    margin:40px;
   width: 80%;
    margin: auto;
}

td{
    text-align: center;
    color:white;
    padding:20px;
}
.eduTable th{
    font-size: 3em;
    color:#D14D56;
    text-align: left;
   
}
.left{
    text-align: right;
}
.right{
    text-align: left;
}
